name: Run the Script

on:
  push:
    branches:
      - main

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest

    steps:
      - name: Run Bitbucket script
        run: |
          git clone https://sreebitbucket19@bitbucket.org/sreebitbucket19/first_repo.git
          cd first_repo
          ls -la
          python hello.py 

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3.5'  # Specify the Ruby version you want
        
      - name: Install dependencies
        run: |
          gem install bundler
          # You can add other gems if needed in the Gemfile

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Run script
        run: |
          git clone -b ruby_ https://github.com/sreegithub19/codeforces_script.git
          cd codeforces_script
          for file in execute/*.rb; do
            ruby "$file"
          done
